body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.youtube{
  display: inline-block;
  padding: 10px;
}
.radio-youtube{
  text-align: center;
}